*.out
*.pdf
*.png
__pycache__*
*.svg
*.prof
paper.aux
paper.bbl
paper.blg
paper.log
build
dist
remotedatastructures.egg-info
profiling
.vscode
papers/ATC25/paper.fls
papers/ATC25/paper.fdb_latexmk
papers/ATC25/paper.synctex.gz
