build
cython_tutorial
*.so
*.o
old_wrappers/*.cpp
rcuckoo_wrapper.cpp
rcuckoo_wrapper.egg-info
rcuckoo_wrap.egg-info

configs
statistics

test/test_hash
test/test_tables
test/test_search
test/test_state_machines
test/test_cuckoo

rdma_client
rdma_server
rdma_memory_server
cuckoo_client

flamechart
perf.data
perf.data.old
out.perf-folded


